/* 
  * Fonts
*/

@font-face {
	font-family: Golos Text;
	src: url('/fonts/GolosText-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Golos Text;
	src: url('/fonts/GolosText-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Golos Text;
	src: url('/fonts/GolosText-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Golos Text;
	src: url('/fonts/GolosText-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Golos Text;
	src: url('/fonts/GolosText-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Golos Text;
	src: url('/fonts/GolosText-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

/* 
  * Fonts end
*/

@tailwind base;
@layer base {
	/* 
  * Custom CSS reset by Josh W. Comeau
  * source: https://www.joshwcomeau.com/css/custom-css-reset/
*/

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
	}

	html {
		height: 100%;
	}

	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
		min-height: 100%;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	button {
		padding: 0;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	/* 
  * Custom CSS reset end
*/

	/* 
  * Custom scrollbar
*/

	::-webkit-scrollbar {
		--size: 16px;

		height: var(--size);
		width: var(--size);
	}

	::-webkit-scrollbar-track {
		background-clip: padding-box;
	}

	::-webkit-scrollbar-thumb {
		border: 4px solid transparent;
		background-clip: padding-box;
		border-radius: 16px;
		background-color: var(--border);
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: var(--border-hover);
	}

	/* 
  * Custom scrollbar end
*/

	/* 
  * Theme transition
*/

	::view-transition-old(root),
	::view-transition-new(root) {
		animation: none;
		mix-blend-mode: normal;
	}

	::view-transition-old(root) {
		z-index: 1;
	}

	::view-transition-new(root) {
		z-index: 9999;
	}

	[data-scheme='dark']::view-transition-old(root) {
		z-index: 9999;
	}

	[data-scheme='dark']::view-transition-new(root) {
		z-index: 1;
	}

	/* 
  * Theme transition end
*/

	html {
		scrollbar-gutter: stable;
	}

	/* 
  * Squared Pattern by Adam Giebl
  * source: https://uiverse.io/adamgiebl/curvy-earwig-79
  */
	body {
		font-family: theme('fontFamily.DEFAULT');
		font-size: theme('fontSize.md');

		background-color: theme('backgroundColor.white.100');
		color: theme('colors.black.800');

		--squared-color: theme('backgroundColor.linen.100');
		--size: theme('spacing.fluid-10');

		background-image: linear-gradient(
				0deg,
				transparent 24%,
				var(--squared-color) 25%,
				var(--squared-color) 26%,
				transparent 27%,
				transparent 74%,
				var(--squared-color) 75%,
				var(--squared-color) 76%,
				transparent 77%,
				transparent
			),
			linear-gradient(
				90deg,
				transparent 24%,
				var(--squared-color) 25%,
				var(--squared-color) 26%,
				transparent 27%,
				transparent 74%,
				var(--squared-color) 75%,
				var(--squared-color) 76%,
				transparent 77%,
				transparent
			);
		background-size: var(--size) var(--size);
	}

	[data-scheme='dark'] body {
		background-color: theme('backgroundColor.black.900');
		color: theme('colors.linen.100');

		--squared-color: theme('backgroundColor.white.10');
	}

	a {
		text-decoration-line: none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: theme('fontWeight.bold');
		line-height: 1;
	}

	h1 {
		@apply text-xxl;
	}

	h2 {
		@apply text-xl;
	}

	h3 {
		@apply text-lg;
	}

	ul {
		@apply ps-fluid-7;
	}

	li {
		@apply pb-fluid-8;
	}

	li:last-child {
		@apply pb-0;
	}

	hr {
		@apply border border-t border-dashed dark:border-linen-20;

		width: 100%;
	}

	img {
		max-width: 100%;
		display: block;
	}
}

@tailwind components;
@layer components {
	.container {
		@apply grid text-md;

		--column-gap: theme(spacing.fluid-6);
		--content: min(calc(100% - var(--column-gap) * 2), 72ch);

		column-gap: var(--column-gap);
		grid-template-columns: 1fr min(calc(100% - var(--column-gap) * 2), 72ch) 1fr;
	}

	.container > * {
		grid-column: 2;
		container: content / inline-size;
	}

	.button {
		@apply gap-fluid-3 bg-blue-800 dark:bg-lightblue-200;
		@apply hover:scale-105 hover:bg-blue-900 dark:hover:bg-lightblue-100;
		/* @apply hover:shadow-100 dark:hover:shadow-lightblue-200 hover:shadow-blue-800; */
		@apply transition-all duration-200 ease-in-out;
		@apply font-semibold text-white-100 dark:text-black-900;
		@apply rounded-[theme(spacing.fluid-3)] px-fluid-5 py-fluid-3;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		align-self: flex-start;
		flex-shrink: 0;
	}

	/* .icon-button {
		@apply text-black-800 dark:text-linen-100;
    @apply hover:bg-orange-100;
    @apply transition-colors duration-200 ease-in-out;

		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
	} */

	/* 
  * Hover underline animation by 30 seconds of code
  * source: https://www.30secondsofcode.org/css/s/hover-underline-animation 
*/
	.link {
		@apply text-blue-800 dark:text-lightblue-200;
		@apply hover:text-blue-900 dark:hover:text-lightblue-100;
		@apply transition-colors duration-300 ease-in-out;

		position: relative;
		display: inline-flex;
		align-items: center;
		line-height: 1.2;
	}

	.link::after {
		@apply transition-transform duration-200 ease-out;

		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: -2px;
		left: 0;
		background-color: currentColor;
		transform-origin: bottom right;
	}

	.link:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}

	.link_accent {
		@apply text-orange-100 hover:text-orange-200 dark:text-orange-100 dark:hover:text-orange-50;
	}
}

@tailwind utilities;
