/* 
  Custom CSS reset by Josh W. Comeau
  source: https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 
  Custom CSS reset end
*/

/* 
  Fonts
*/

@font-face {
	font-family: Golos Text;
	src: url('/fonts/GolosText-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Golos Text;
	src: url('/fonts/GolosText-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Golos Text;
	src: url('/fonts/GolosText-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Golos Text;
	src: url('/fonts/GolosText-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Golos Text;
	src: url('/fonts/GolosText-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: Golos Text;
	src: url('/fonts/GolosText-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

:root {
	--default-font: Golos Text, sans-serif;

	--xl-font-size: clamp(3rem, -3rem + 0.09375 * 100vw, 6rem);
	--lg-font-size: clamp(2rem, -2rem + 0.0625 * 100vw, 4rem);
	--md-font-size: clamp(1.25rem, -1.25rem + 0.0390625 * 100vw, 2.5rem);
	--sm-font-size: clamp(1rem, -1rem + 0.03125 * 100vw, 1.5rem);
	--xs-font-size: clamp(0.875rem, -0.8rem + 0.025 * 100vw, 1rem);

	--spacing-1: clamp(0.125rem, -0.125rem + 0.00390625 * 100vw, 0.25rem); /* 2px - 4px */
	--spacing-2: clamp(0.25rem, -0.25rem + 0.0078125 * 100vw, 0.5rem); /* 4px - 8px */
	--spacing-3: clamp(0.5rem, 0rem + 0.0078125 * 100vw, 0.75rem); /* 8px - 12px */
	--spacing-4: clamp(0.75rem, 0.25rem + 0.0078125 * 100vw, 1rem); /* 12px - 16px */
	--spacing-5: clamp(1rem, 0rem + 0.015625 * 100vw, 1.5rem); /* 16px - 24px */
	--spacing-6: clamp(1.5rem, 0.5rem + 0.015625 * 100vw, 2rem); /* 24px - 32px */
	--spacing-7: clamp(2rem, 1rem + 0.015625 * 100vw, 2.5rem); /* 32px - 40px */
	--spacing-8: clamp(2.5rem, 1.5rem + 0.015625 * 100vw, 3rem); /* 40px - 48px */
	--spacing-9: clamp(3rem, 2rem + 0.015625 * 100vw, 3.5rem); /* 48px - 56px */
	--spacing-10: clamp(3.5rem, 2.5rem + 0.015625 * 100vw, 4rem); /* 56px - 64px */
	--spacing-11: clamp(4rem, 2rem + 0.03125 * 100vw, 5rem); /* 64px - 80px */
	--spacing-12: clamp(5rem, 3rem + 0.03125 * 100vw, 6rem); /* 80px - 96px */
	--spacing-13: clamp(6rem, 4rem + 0.03125 * 100vw, 7rem); /* 96px - 112px */
	--spacing-14: clamp(7rem, 5rem + 0.03125 * 100vw, 8rem); /* 112px - 128px */
	--spacing-15: clamp(8rem, 6rem + 0.03125 * 100vw, 9rem); /* 128px - 144px */
	--spacing-16: clamp(9rem, 7rem + 0.03125 * 100vw, 10rem); /* 144px - 160px */

	--column-gap: 1.5rem;
	--row-gap: 3rem;
	--content: clamp(calc(320px - var(--column-gap) * 2), calc(100% - var(--column-gap) * 2), 1440px);

	--glow50: 0 1px 4px -1px;
	--glow100: 0 4px 16px -2px;
	--glow200: 0 8px 32px -4px;

	--white: hsl(0, 0%, 100%);
	--platinum: hsl(0, 0%, 92%);
	--black-coral: hsl(204, 13%, 37%);
	--eerie-black: hsl(210, 6%, 13%);
	--black: hsl(210, 6%, 10%);
	--orange: hsl(13, 98%, 52%);
	--orange-light: hsl(13, 98%, 62%);
	--orange-dark: hsl(13, 98%, 42%);
	--ocean-blue: hsl(240, 47%, 52%);
	--ocean-blue-dark: hsl(240, 47%, 42%);

	--linen: hsl(30, 36%, 90%);
	--medium-champagne: hsl(45, 77%, 79%);
	--middle-blue: hsl(184, 36%, 63%);
	--middle-blue-light: hsl(184, 36%, 73%);

	--white90: rgba(240, 240, 240, 0.9);
	--white01: rgba(240, 240, 240, 0.1);
	--periwinkle: #b6b3e6;
	--tropical-indigo: #7e78d2;
	--slate-blue: #6f58c9;
	--iris: #5f46c3;
	--rebecca-purple: #4e37a9;

	--github100: var(--white90);
	--github200: var(--periwinkle);
	--github300: var(--tropical-indigo);
	--github400: var(--slate-blue);
	--github500: var(--iris);
	--github600: var(--rebecca-purple);

	--primary: var(--white);
	--secondary100: var(--black-coral);
	--secondary200: var(--eerie-black);
	--accent100: var(--orange);
	--accent100-hover: var(--orange-dark);
	--accent200: var(--ocean-blue);
	--accent200-hover: var(--ocean-blue-dark);
	/* black-coral */
	--border: hsla(204, 13%, 37%, 0.2);
	--border-hover: hsla(204, 13%, 37%, 0.6);
}

[data-scheme='dark']:root {
	--github100: var(--white01);

	--primary: var(--black);
	--secondary100: var(--medium-champagne);
	--secondary200: var(--linen);
	--accent100-hover: var(--orange-light);
	--accent200: var(--middle-blue);
	--accent200-hover: var(--middle-blue-light);
	/* black-coral */
	--border: hsla(204, 13%, 37%, 0.6);
	--border-hover: var(--black-coral);
}

/* 
  Custom scrollbar
*/

::-webkit-scrollbar {
	--size: 16px;
	height: var(--size);
	width: var(--size);
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
	border: 4px solid transparent;
	background-clip: padding-box;
	border-radius: 16px;
	background-color: var(--border);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--border-hover);
}

/* 
  Custom scrollbar end
*/

/* 
  Theme transition
*/

::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
}

::view-transition-old(root) {
	z-index: 1;
}

::view-transition-new(root) {
	z-index: 9999;
}

[data-scheme='dark']::view-transition-old(root) {
	z-index: 9999;
}

[data-scheme='dark']::view-transition-new(root) {
	z-index: 1;
}

/* 
  Theme transition end
*/

html {
	scrollbar-gutter: stable;
}

body {
	font-family: var(--default-font);
	color: var(--secondary200);
	font-size: var(--sm-font-size, 1rem);
	background: var(--primary);
}

a {
	text-decoration: none;
}

main {
	padding: 32px 0;
	margin-top: var(--header-offset-top);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
}

h1 {
	font-size: var(--xl-font-size);
}

h2 {
	font-size: var(--lg-font-size);
}
h3 {
	font-size: var(--md-font-size);
}

ul {
	padding-inline-start: var(--spacing-8);
}

li {
	padding-bottom: var(--spacing-8);
}

li:last-child {
	padding-bottom: 0;
}

hr {
	width: 100%;
	border-style: dashed;
	border-color: var(--secondary100);
	border-top-width: 1px;
	opacity: 0.2;
}

img {
	max-width: 100%;
	display: block;
}

.container {
	display: grid;
	column-gap: var(--column-gap);
	grid-template-columns: 1fr var(--content) 1fr;
}

.container > * {
	grid-column: 2;
	container: content / inline-size;
}

.button {
	display: inline-flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
	align-self: flex-start;
	flex-shrink: 0;
	background: var(--accent200);
	color: var(--primary);
	font-weight: 600;
	padding: var(--spacing-3) var(--spacing-6);
	border-radius: 8px;
	transition: 0.2s ease-in-out;
}

[data-scheme='dark'] .button {
	background: var(--accent200);
}

.button:hover {
	transform: scale(1.02);
	background: var(--accent200-hover);
	box-shadow: var(--glow100) var(--accent200);
}

.icon-button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	color: var(--secondary200);
	transition: color 0.2s;
}

.icon-button:hover {
	color: var(--accent100);
}

/* 
  Hover underline animation by 30 seconds of code
  source: https://www.30secondsofcode.org/css/s/hover-underline-animation 
*/
.link {
	position: relative;
	display: inline-flex;
	align-items: center;
	color: var(--accent200);
	transition: color 0.3s ease-in-out;
	line-height: 1.2;
}

.link::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: currentColor;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.link:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.link:hover {
	color: var(--accent200-hover);
}

.link_accent {
	color: var(--accent100);
}

.link_accent:hover {
	color: var(--accent100-hover);
}
